body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
}

h3 {
  font-family: "Sanchez", serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  opacity: 0.4;
}

.grid-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: repeat(8, 1.5fr);
}

.section-left {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  text-align: center;
  color: white;
  display: grid;
  overflow: hidden;
}

.section-right {
  grid-column: 2 / span 2;
  grid-row: 1 / -1;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.section-left::-webkit-scrollbar,
.section-right::-webkit-scrollbar {
  display: none;
}

.section-left:hover,
.section-right:hover {
  overflow-y: scroll;
}

.section-left > .menu-card-bowls-green {
  background-color: rgb(87, 157, 117);
  grid-row: 1 / span 3;
  padding: 2rem;
}

.section-left > .menu-card-bowls-yellow {
  background-color: rgb(246, 193, 117);
  grid-row: 4 / span 1;
  padding: 2rem;
}

.section-left > .menu-card-sides-green {
  background-color: rgb(87, 157, 117);
  grid-row: 5 / span 4;
  padding: 2rem;
}

.section-right > .menu-card-more-blue {
  background-color: rgb(76, 180, 167);
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  padding: 2rem;
  color: white;
  text-align: center;
}

.section-right > .menu-card-more-pink {
  background-color: rgb(254, 127, 133);
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  padding: 2rem;
  color: white;
  text-align: center;
}

.section-right > .menu-card-title-white {
  background-color: white;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  padding-top: 2rem;
  color: rgb(87, 157, 117);
  display: flex;
  justify-content: center;
}

.section-right > .menu-card-subtitle-white {
  background-color: white;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  padding: 4.7rem;
  text-align: center;
  color: rgb(87, 157, 117);
}

.section-right > .menu-card-title-white > .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 85%;
  width: 50%;
}

.section-right > .menu-card-title-white > .title > h1 {
  font-size: 7.2rem;
  margin-left: 0;
  margin-right: 0;
}

.title-left {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 7.2rem;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.menu-card-title-white > .title {
  position: relative;
  animation: drive-in 1.5s linear 1;
}

.title-left > span:nth-child(1) {
  letter-spacing: 5rem;
}

.title-left > span:nth-child(5) {
  letter-spacing: 5.5rem;
}

.title-left > span:nth-child(2) {
  color: black;
  font-family: "Sanchez", serif;
  position: absolute;
  animation: spin-wheels 0.3s linear 10;
  font-weight: bolder;
  top: 3.5rem;
}

.title-left > span:nth-child(6) {
  color: black;
  font-family: "Sanchez", serif;
  position: absolute;
  animation: spin-wheels 0.3s linear 10;
  font-weight: bolder;
  top: 20.5rem;
}

.section-right > .menu-card-title-white > .title > .title-left {
  text-align: left;
}

.section-right > .menu-card-title-white > .title > .title-right {
  text-align: right;
}

.section-right > .bottom-menu-card-title-white {
  background-color: white;
  grid-column: 1 / span 2;
  grid-row: 5 / span 3;
  padding-left: 4.7rem;
  padding-right: 4.7rem;
  padding-top: 2rem;
  color: rgb(87, 157, 117);
}

.section-right > .bottom-menu-card-subtitle-white {
  background-color: white;
  grid-column: 1 / span 2;
  grid-row: 8 / span 1;
  padding: 4.7rem;
  text-align: center;
  color: rgb(87, 157, 117);
}

.section-right > .bottom-menu-card-title-white > .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 80%;
}

.section-right > .bottom-menu-card-title-white > .title > h1 {
  font-size: 7.2rem;
  margin-left: 0;
  margin-right: 0;
}

.section-right > .bottom-menu-card-title-white > .title > .title-left {
  text-align: left;
}

.section-right > .bottom-menu-card-title-white > .title > .title-right {
  text-align: right;
}

@keyframes spin-wheels {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes drive-in {
  0% {
    bottom: -130vh;
  }
  100% {
    bottom: 0;
  }
}
