body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: repeat(8, 1.5fr);
}

.section-left {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

.section-left > .menu-card-bowls-green {
  background-color: rgb(87, 157, 117);
  grid-row: 1 / span 3;
}

.section-left > .menu-card-bowls-yellow {
  background-color: rgb(246, 193, 117);
  grid-row: 4 / span 1;
}

.section-left > .menu-card-sides-green {
  background-color: rgb(87, 157, 117);
  grid-row: 5 / span 4;
}

.section-right {
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 1 / -1;
}

.section-right > .top {
  display: grid;
  grid-row: 1 / span 4;
}

.section-right > .top > .left {
  display: grid;
  grid-column: 1 / span 1;
}

.section-right > .top > .left > .menu-card-more-blue {
  background-color: rgb(76, 180, 167);
  grid-row: 1 / span 2;
}

.section-right > .top > .left > .menu-card-more-pink {
  background-color: rgb(254, 127, 133);
  grid-row: 3 / span 2;
}

.section-right > .top > .right {
  background-color: white;
  grid-column: 2 / span 1;
}

.section-right > .bottom {
  background-color: blue;
  grid-row: 5 / span 4;
}
