body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}

h3 {
  font-family: "Sanchez", serif;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
  opacity: 0.4;
}

.grid-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: repeat(8, 1.5fr);
}

.section-left {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  text-align: center;
  color: white;
  overflow: hidden;
}

.section-right {
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 1 / -1;
  overflow: hidden;
}

.section-left::-webkit-scrollbar,
.section-right::-webkit-scrollbar {
  display: none;
}

.section-left:hover,
.section-right:hover {
  overflow-y: scroll;
}

.section-left > .menu-card-bowls-green {
  background-color: rgb(87, 157, 117);
  grid-row: 1 / span 3;
  padding: 0.7rem;
}

.section-left > .menu-card-bowls-yellow {
  background-color: rgb(246, 193, 117);
  grid-row: 4 / span 1;
  padding: 0.7rem;
}

.section-left > .menu-card-sides-green {
  background-color: rgb(87, 157, 117);
  grid-row: 5 / span 4;
  padding: 0.7rem;
}

.section-right > .top {
  display: grid;
  grid-row: 1 / span 4;
}

.section-right > .bottom {
  grid-row: 5 / span 4;
  grid-column: 1 / span 2;
  display: grid;
  color: rgb(87, 157, 117);
}

.section-right > .top > .left {
  grid-column: 1 / span 1;
  display: grid;
  text-align: center;
  color: white;
}

.section-right > .top > .right {
  grid-column: 2 / span 1;
  display: grid;
  color: rgb(87, 157, 117);
}

.section-right > .bottom > .menu-card-title-white {
  background-color: white;
  grid-row: 1 / span 3;
  padding: 0.7rem;
}

.section-right > .bottom > .menu-card-subtitle-white {
  background-color: white;
  grid-row: 4 / span 1;
  padding: 0.7rem;
  text-align: center;
}

.section-right > .bottom > .menu-card-title-white > .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 80%;
}

.section-right > .bottom > .menu-card-title-white > .title > h1 {
  font-size: 4.2rem;
  margin-left: 0;
  margin-right: 0;
}

.section-right > .bottom > .menu-card-title-white > .title > .title-left {
  text-align: left;
}

.section-right > .bottom > .menu-card-title-white > .title > .title-right {
  text-align: right;
}

.section-right > .top > .left > .menu-card-more-blue {
  background-color: rgb(76, 180, 167);
  grid-row: 1 / span 2;
  padding: 0.7rem;
}

.section-right > .top > .left > .menu-card-more-pink {
  background-color: rgb(254, 127, 133);
  grid-row: 3 / span 2;
  padding: 0.7rem;
}

.section-right > .top > .right > .menu-card-title-white {
  background-color: white;
  grid-row: 1 / span 3;
  padding: 0.7rem;
}

.section-right > .top > .right > .menu-card-subtitle-white {
  background-color: white;
  grid-row: 4 / span 1;
  padding: 0.7rem;
  text-align: center;
}

.section-right > .top > .right > .menu-card-title-white > .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 80%;
}

.section-right > .top > .right > .menu-card-title-white > .title > h1 {
  font-size: 4.2rem;
  margin-left: 0;
  margin-right: 0;
}

.section-right > .top > .right > .menu-card-title-white > .title > .title-left {
  text-align: left;
}

.section-right
  > .top
  > .right
  > .menu-card-title-white
  > .title
  > .title-right {
  text-align: right;
}
